/*---------- IMPORTS ----------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


/*---------- RESET ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root {
    --color-dark-charcoal: #1a1a1a;
    --color-dark-onyx: #1c1c1c;
    --color-dark-coal: #1f1f1f;
    --color-dark-ebony: #222222;
    --color-semidark: #101010;
    --color-black: #000000;
    --color-black-soft: #1E1E1E;
    --color-dark-gray: #333333;
    --color-medium-gray: #666666;
    --color-light-gray: #999999;
    --color-white-soft: #F5F5F5;
    --color-white: #ffffff;
    --color-white-snow: #fffafa;
    --color-dark-green: #004D40;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
strong {
    font-weight: 500;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.5rem;
}
body {
    background-color: var(--color-white);
    transition: all .3s ease;
}

/* LINE BETWEEN SECTIONS */
section {
    position: relative; 
}
section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #ddd;
}
section:last-child:after {
    position:unset;
    width: 0;
    height: 0;
    background-color: transparent;
}

/*---------- HEADER ----------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s ease-out;
    padding: 2rem 0;
    z-index: 10;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
header nav ul li a {
    position: relative;
    color: var(--color-black);
    font-size: 18px;
    transition: all .6s ease;
}
header nav ul li a::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .3s;
}
header nav ul li a:hover::after {
    width: 100%;
    background: var(--color-dark-green);
}
/* Turn header to backgroun white */
.header-active {
    background-color: var(--color-white-snow);
}


/*---------- HOME > HERO SECTION ----------*/
.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.am-logo {
    font-family: "Crimson Pro", serif;
    font-weight: 100;
    font-size: 5rem;
    letter-spacing: -6px;
}
.hero-text h1{
    font-weight: 400;
    font-size: 2rem;
}
.hero-text p{
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: capitalize;
}


/*---------- HOME > ABOUT ME ----------*/
.about-me-container{
    width: 100%;
    padding: 6rem 0;
    margin-top: 20px;
}
.sections-title{
    font-family: "Crimson Pro", serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
}
.about-me-container .about-me-content{
    color: var(--color-black);
    text-align: justify;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.about-me-container .about-me-content img {
    box-shadow: -16px 15px 5px 0px rgba(102,102,102,0.23);
    -webkit-box-shadow: -16px 15px 5px 0px rgba(102,102,102,0.23);
    -moz-box-shadow: -16px 15px 5px 0px rgba(102,102,102,0.23);
}

.about-me-container .about-me-content .about-me-text h3{
    font-weight: 360;
    font-size: 25px;
    margin-bottom: 15px;
}


/*---------- HOME > KNOWLEDGE ----------*/
.knowledge-container{
    width: 100%;
    padding: 6rem 0;
    margin-top: 20px;
}
.knowledge-container p{
    text-align: center;
}
.knowledge-container .knowledge-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 3rem;
}
.knowledge-container .knowledge-content svg{
    width: 80px;
}


/*---------- HOME > PORTFOLIO ----------*/


.portfolio-container{
    width: 100%;
    background-color: var(--color-white-snow);
    padding: 6rem 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-container .portfolio-content{
    background-color: var(--color-white);
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
}
.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project .img-container {
    overflow:hidden;
}
.project .img-container img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */
}
.project .img-container:hover img{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.project .project-text{
	font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-black);
}
.project .project-text h3{
    font-family: "Crimson Pro", serif;
    font-size: 2rem;
    font-weight: 600;
}

.check-it-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 80px;
	background: var(--color-white-soft);
	color: var(--color-black);
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	font-weight: 500;
    letter-spacing: 5px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
    margin-top: 20px;
}
.check-it-btn:hover{
    color: var(--color-white);
}
.check-it-btn span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
.check-it-btn::after {
	content: "";
	width: 100%;
	height: 100%;
	background: var(--color-dark-green);
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}
.check-it-btn:hover::after {
	top: 0;
}


/*---------- HOME > FOOTER ----------*/

footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2rem;
}
footer nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
footer h4{
    font-size: 18px;
    margin-bottom: 10px;
}
footer nav .social-media ul{
    display: flex;
    gap: 20px;
}
footer nav .social-media ul li a{
    color: var(--color-white);
    font-size: 2rem;
    transition: .3s ease;
}
footer nav .social-media ul li a:hover{
    color: var(--color-dark-green);
}











/*---------- DARK MODE TOGGLE ----------*/
.dark-mode-toggle{
    background-color: var(--color-black-soft);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.dark-mode-toggle::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: var(--color-white-soft);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, .2);
}
.dark-mode-toggle span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: transparent;
    color: var(--color-white);
}
.dark-mode-toggle.dark-mode-active{
    border: 1px solid var(--color-black-soft);
    background-color: var(--color-white-soft);
    color: var(--color-black-soft);
}
.dark-mode-active span{
    color: var(--color-black-soft);
}
.dark-mode-active::after{
    right: 0;
    left: unset;
}

/*---------- DARK MODE WEBSITE CONFIG ----------*/

body.dark {
    color: var(--color-white-soft);
    background-color: var(--color-semidark);
}
body.dark .hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--color-semidark);
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s ease;
}

body.dark .am-logo {
    font-family: "Crimson Pro", serif;
    font-weight: 100;
    font-size: 5rem;
    letter-spacing: -6px;
}
body.dark .hero-text h1{
    font-weight: 400;
    font-size: 2rem;
}
body.dark .hero-text p{
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: capitalize;
}


body.dark .about-me-container .about-me-content .about-me-text{
    color: var(--color-white-soft);
}


/* PORTFOLIO DARK MODE */
body.dark .portfolio-container{
    background-color: var(--color-dark-shadow);
}

/*---------- HEADER DARK MODE ----------*/
header.header-dark-mode nav ul li a {
    position: relative;
    color: var(--color-white);
    font-size: 18px;
    transition: all .3s;

}
header.header-dark-mode nav ul li a::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .3s;
}
header.header-dark-mode nav ul li a:hover::after {
    width: 100%;
    background: var(--color-white-snow);
}
/* Header's links to black */
header.header-dark-mode.header-active {
    background-color: var(--color-black);
}