header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	transition: .5s ease-out;
	padding: 2rem 0;
	z-index: 10;
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			li {
				a {
					position: relative;
					color: var(--color-black);
					font-size: 18px;
					transition: all .6s ease;
					&::after {
						content: "";
						display: block;
						margin: auto;
						height: 2px;
						width: 0px;
						transition: all .3s;
					}
					&:hover {
						&::after {
							width: 100%;
							background: var(--color-dark-green);
						}
					}
				}
			}
		}
	}
	.language {
		display: flex;
		justify-self: center;
		align-items: center;
		gap: 20px;
		button {
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
			}
			&::after {
				content: "";
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				transition: all .3s;
			}
			&:hover {
				&::after {
					width: 100%;
					background: var(--color-dark-green);
				}
			}
		}
	}
}
.header-active {
	background-color: var(--color-white);
}
.open-nav,
.close-nav {
	display: none;
	font-size: 1.5rem;
}
.dark-mode-toggle {
	background-color: var(--color-black-soft);
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;

	&::after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background-color: var(--color-white-soft);
		top: 0;
		left: 0;
		right: unset;
		border-radius: 50%;
		transition: .3s ease all;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	}

	span {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background-color: transparent;
		color: var(--color-white);
	}

	&.dark-mode-active {
		border: 1px solid var(--color-black-soft);
		background-color: var(--color-white-soft);
		color: var(--color-black-soft);
	}
}

.dark-mode-active {
	span {
		color: var(--color-black-soft);
	}
	&::after {
		right: 0;
		left: unset;
	}
}
/*************/
header {
	&.header-dark-mode {
		nav {
			ul {
				li {
					a {
						position: relative;
						color: var(--color-white);
						font-size: 18px;
						transition: all .3s;
						&::after {
							content: "";
							display: block;
							margin: auto;
							height: 2px;
							width: 0px;
							transition: all .3s;
						}
						&:hover {
							&::after {
								width: 100%;
								background: var(--color-white-snow);
							}
						}
					}
				}
			}
		}
		&.header-active {
			background-color: var(--color-black);
		}
	}
}
